@model WebCheesyPizzaApplication.ViewModels.ProductViewModel

<div class="row">
    <div class="col-md-2">

        <div asp-validation-summary="All"></div>
        <form asp-action="DetailsProduct" asp-controller="Products" style="height:1000px">
            <div class="card">
                <div class="card-header">
                    @Model.Name
                </div>
                <div class="card-body">
                    <div type="text" asp-for="Id"></div>
                    <div>
                        <img width="320" src="@Model.ImagePath" alt="FOTO" />
                    </div>
                </div>
                <div class="card-footer">
                    <div>Цена: @Model.Price TJS</div><hr />
                    <div> <strong>Категория:</strong>@Model.CategoryName</div><hr />
                    <div placeholder="Описание"> <strong>Описание:</strong> @Model.Description</div><hr />
                    <div placeholder="Рецепт"><strong>Рецепт:</strong>  @Model.Reciept</div>
                    <a href="~/products/AddToBasket?id=@Model.Id" style="margin-top:10px" class=" btn sbtn-block btn-primary btn-outline-success btn-block">Добавить в корзину</a>
                </div>
            </div>
        </form>
    </div>
</div>