@model List<WebCheesyPizzaApplication.ViewModels.ProductViewModel>
<div asp-validation-summary="All"></div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="mt-3">
            <div class="row justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col-3 mt-3">
                        <div class="card">
                            <div class="card-header  text-center">
                                <a href="~/products/detailsproduct?id=@item.Id" class="btn btn-link"><strong>@item.Name</strong></a>
                            </div>
                            <div class="card-body d-flex justify-content-center">
                                <img height="260" width="220" src="@item.ImagePath" alt="FOTO" />
                            </div>
                            <div class="card-footer  d-flex justify-content-between">
                                <p><strong>Цена: @item.Price TJS </strong> </p>
                                <a href="~/products/AddToBasket?id=@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>



@*<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="~/products/detailsproduct?id=@item.Id" class="btn btn-link">@item.Name</a>
            </td>
            <td>@item.CategoryName</td>
            <td>@item.Price TJS</td>
        </tr>
           
        }
    </tbody>
</table>*@